<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold">Faça parte da<br /> ImoSB</h1>
        <p>Venha fazer mais negócios e ampliar seus ganhos<br />
        unindo-se à rede de imobiliárias que mais vende<br />
        imóveis no Brasil.
        </p>
        
        <p>Abra uma franquia da ImoSB e torne-se membro da <br/>
        ImoSB
        </p>

        <%= link_to '', 
          class: 'btn btn-primary btn-lg top' do %>
          Quero saber mais
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="bold text-center">Explore todos os benefícos de se
        tornar<br /> um franqueado da ImoSb
        </h3>
        <br />

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <h4 class="bold">Acesso ao mercado de<br /> lançamentos</h4>
              <p>Apoio para trabalhar e acessar os
              lançamentos do mercado primário
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="franchising">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">A <span class='bold'>Rede ImoSB</span> 
        pela visão<br /> de nossos franqueados.
        </h2>
        <br />
        
        <div class='row'>
          <% (1..3).each do |testimonial| %>
            <div class="col-md-4">
              <div class="well"></div>
              <h4 class="bold">Sobre a Força da Marka</h4>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>